<div class="col-md-12">
    <div class="my-3 text-center">
        <!-- <app-counter-output [counter]="counter"></app-counter-output> -->
        <app-counter-output></app-counter-output>


    </div>


    <div class="my-3 text-center">
        <!-- <app-counter-buttons (increment)="onIncrement()"  (decrement)="onDecrement()"  (reset)="onReset()"  ></app-counter-buttons> -->
        <app-counter-buttons></app-counter-buttons>

    </div>

    <div class="my-3 text-center">
        <app-custom-counter-input> </app-custom-counter-input>
    </div>

</div>